@charset 'utf-8';
@import '../../assets/styles/common';

.smart_container{
    width: 100%;
    height: 100%;
    @extend %clearfix;
}

.smart_container_right{
    width: 100%;
    height: 100%;
}

.smart_container_rightBlock_scroll{
    position: absolute;
    top: rpx(110);
    width: 100%;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
}

.smart_container_rightBlock{
    height: 100%;
    background-color: #fff;
}

// 更新 browser 布局
@media only screen and (max-width:750px){
    .smart_container_left {
        display: none;

    }

    .smart_container_right {
        float: none;
        width: 100%;
    }

    .smart_container_rightBlock_scroll {
        top: 1.4666666667rem;
    }
}
