@charset 'utf-8';
@import '../../assets/styles/common';

.smart_container{
    width: 100%;
    height: 100%;
    @extend %clearfix;
}

.smart_container_left{
    float: left;
}

.smart_container_right{
    width: calc(100% - #{rpx(266)});
    height: 100%;
    //overflow: auto;
    float: right;
    position: relative;
}

.smart_container_rightBlock_scroll{
    position: absolute;
    top: rpx(110);
    width: 100%;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
}

.smart_container_rightBlock{
    height: 100%;
    background-color: #fff;
}
